/* HTML tags, forms, input, images, links, lists, etc. */

header {
    background: #fff;
    border-bottom: solid 2px #CCCCCC; 
}

li {
    display: inline;
    padding: 0px 5px;
}

a {
    color: #777777;
    text-decoration: none;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px 30px 0px;
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 20px;
}

p {
    padding: 0px 15px 10px 0px;
    line-height: 1.5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: #777777;
}

footer {
    height: 65px;
    border-top: 10px solid #4aaaa5;
    background: #666666;
    color: white;
    
}

form {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 16px;
}

input {
    width: 915px;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC
}

textarea {
    width: 915px;
    height: 180px;
    font-size: 20px;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
}

/* classes */

.headContainer {
    width: 960px;
    margin: 0px auto;
}

li.pipe {
    color: #CCCCCC;
    opacity: 0.3;
}

.container {
    width: 920px;
    height: auto;
    background: white;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #ccc
}

img.row {
    float: left;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.clearFix::after{
    content: "";
    display: block;
    clear: both;
}

/* ids */

.pgTitle {
    float: left;    
    background: #4aaaa5;
    color: #fff;
    width: auto;
    text-align: center;
    padding: 30px 15px;
    font-weight: bold;
    font-size: 25px;
}

.navigation {
    float: right;
    padding: 30px 0px 25px 0px;
    color: #777777;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    font-size: 20px;
    
}

.background {
    padding: 50px 0px 50px 0px;
    background-image: url("../images/hip-square.png");
}

img.cc {
    float: left;
    width: 175px;
    margin: 5px 20px 10px 0px;
    border: 2px solid black;
}

p#copyright {
    vertical-align: bottom;
    font-size: 10px;
    text-align: center;
    color: white;
}

#submit {
    background: #4aaaa5;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 15px;

}

#flightTrack {
    position: absolute;
    height: 26px;
    width: 280px;
    font-size: 22px;
    margin-top: 180px;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    background: #4aaaa5;
    z-index: 1;
}

#pets {
    position: absolute;
    height: 26px;
    width: 280px;
    font-size: 22px;
    margin-left: 320px;
    margin-top: 180px;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    background: #4aaaa5;
    z-index: 1;
}

#travel {
    position: absolute;
    height: 26px;
    width: 280px;
    font-size: 22px;
    margin-top: 425px;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    background: #4aaaa5;
    z-index: 1;
}

#dining {
    position: absolute;
    height: 26px;
    width: 280px;
    font-size: 22px;
    margin-left: 320px;
    margin-top: 425px;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    background: #4aaaa5;
    z-index: 1;
}

#dog {
    position: absolute;
    height: 26px;
    width: 280px;
    font-size: 22px;
    margin-top: 670px;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    background: #4aaaa5;
    z-index: 1;
}

/* Media Screen */
@media screen and (max-width: 980px) {
    .container {
        width: 920px;

    }

    .headContainer {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 650px;
        margin: 0px 20px 0px 20px;

    }

    .headContainer {
        width: 100%;
    }
    
    .pgTitle {
        margin-left: 20px;
    }

    img.cc {
        width: 300px;
    }

    .navigation {
        margin-right: 20px;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

}

@media screen and (max-width: 640px) {
    .container {
        width: 530px;

    }

    .pgTitle {
        width: 530px;
        margin: 0px;
        padding: 25px 0px 25px 0px;
        
    }

    
    .navigation {
        float: none;
        text-align: center;
        padding-top: 100px;
        margin-right: 0px;
    }

    h1 {
        width: auto;
    }

    img.cc {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    p {
        width: auto;
    }

    img.row {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .background {
        width: 100%;
    }

    #pets {
        height: 30px;
        width: 510px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -70px;
       
    }

    #flightTrack {
        height: 30px;
        width: 510px;
        margin-right: auto;
        margin-left: auto;
        margin-top: -490px;
}

    #travel {
        height: 30px;
        width: 510px;
        font-size: 22px;
        margin-top: -490px;
        margin-left: auto;
        margin-right: auto;
       
    }

    #dining {
        height: 30px;
        width: 510px;
        font-size: 22px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -70px;
    }

    #dog {
        height: 30px;
        width: 510px;
        font-size: 22px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -70px;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}